[submodule "repos/cxgn-corelibs"]
	path = cxgn/cxgn-corelibs
	url = https://github.com/solgenomics/cxgn-corelibs.git
[submodule "repos/sgn"]
	path = cxgn/sgn
	url = https://github.com/solgenomics/sgn.git
[submodule "repos/Phenome"]
	path = cxgn/Phenome
	url = https://github.com/solgenomics/Phenome.git
[submodule "repos/rPackages"]
	path = cxgn/rPackages
	url = https://github.com/solgenomics/rPackages.git
[submodule "repos/biosource"]
	path = cxgn/biosource
	url = https://github.com/solgenomics/biosource.git
[submodule "repos/Cview"]
	path = cxgn/Cview
	url = https://github.com/solgenomics/Cview.git
[submodule "repos/ITAG"]
	path = cxgn/ITAG
	url = https://github.com/solgenomics/ITAG.git
[submodule "repos/tomato_genome"]
	path = cxgn/tomato_genome
	url = https://github.com/solgenomics/tomato_genome.git
[submodule "repos/sgn-devtools"]
	path = cxgn/sgn-devtools
	url = https://github.com/solgenomics/sgn-devtools.git
[submodule "repos/solGS"]
	path = cxgn/solGS
	url = https://github.com/solgenomics/solGS.git
[submodule "repos/starmachine"]
	path = cxgn/starmachine
	url = https://github.com/solgenomics/starmachine.git
[submodule "repos/DroneImageScripts"]
	path = cxgn/DroneImageScripts
	url = https://github.com/solgenomics/DroneImageScripts.git
[submodule "repos/local-lib"]
	path = cxgn/local-lib
	url = https://github.com/solgenomics/perl-local-lib
[submodule "repos/R_libs"]
	path = cxgn/R_libs
	url = https://github.com/solgenomics/R_libs
[submodule "repos/cassava"]
	path = cxgn/cassava
	url = https://github.com/solgenomics/cassava.git
[submodule "repos/yambase"]
	path = cxgn/yambase
	url = https://github.com/solgenomics/yambase.git
[submodule "repos/sweetpotatobase"]
	path = cxgn/sweetpotatobase
	url = https://github.com/solgenomics/sweetpotatobase.git
[submodule "repos/ricebase"]
	path = cxgn/ricebase
	url = https://github.com/solgenomics/ricebase.git
[submodule "repos/citrusgreening"]
	path = cxgn/citrusgreening
	url = https://github.com/solgenomics/citrusgreening.git
[submodule "repos/coconut"]
	path = cxgn/coconut
	url = https://github.com/solgenomics/coconut.git
[submodule "repos/cassbase"]
	path = cxgn/cassbase
	url = https://github.com/solgenomics/cassbase.git
[submodule "repos/musabase"]
	path = cxgn/musabase
	url = https://github.com/solgenomics/musabase.git
[submodule "repos/potatobase"]
	path = cxgn/potatobase
	url = https://github.com/solgenomics/potatobase.git
[submodule "repos/cea"]
	path = cxgn/cea
	url = https://github.com/solgenomics/cea.git
[submodule "repos/cippotatobase"]
	path = cxgn/cippotatobase
	url = https://github.com/solgenomics/cippotatobase.git
[submodule "repos/fernbase"]
	path = cxgn/fernbase
	url = https://github.com/solgenomics/fernbase.git
[submodule "repos/solgenomics"]
	path = cxgn/solgenomics
	url = https://github.com/solgenomics/solgenomics.git
[submodule "repos/panzeabase"]
	path = cxgn/panzeabase
	url = https://github.com/solgenomics/panzeabase.git
[submodule "repos/varitome"]
	path = cxgn/varitome
	url = https://github.com/solgenomics/varitome.git
[submodule "repos/milkweed"]
	path = cxgn/milkweed
	url = https://github.com/solgenomics/milkweed.git
[submodule "repos/erysimum"]
	path = cxgn/erysimum
	url = https://github.com/solgenomics/erysimum.git
[submodule "repos/vitisbase"]
	path = cxgn/vitisbase
	url = https://github.com/solgenomics/vitisbase.git
[submodule "repos/panandbase"]
	path = cxgn/panandbase
	url = https://github.com/solgenomics/panandbase.git
[submodule "repos/triticum"]
	path = cxgn/triticum
	url = https://github.com/solgenomics/triticum.git
[submodule "repos/gorelabbbase"]
	path = cxgn/gorelabbbase
	url = https://github.com/solgenomics/gorelabbase.git
[submodule "repos/imagesol"]
	path = cxgn/imagesol
	url = https://github.com/solgenomics/imagesol.git
[submodule "repos/Chado"]
	path = cxgn/Chado
	url = https://github.com/GMOD/Chado
[submodule "repos/repos/chado_tools"]
	path = repos/chado_tools
	url = https://github.com/GMOD/chado_tools
[submodule "repos/repos/Bio-Chado-Schema"]
	path = repos/Bio-Chado-Schema
	url = https://github.com/GMOD/Bio-Chado-Schema
[submodule "repos/chado_tools"]
	path = cxgn/chado_tools
	url = https://github.com/GMOD/chado_tools
[submodule "repos/Bio-Chado-Schema"]
	path = cxgn/Bio-Chado-Schema
	url = https://github.com/GMOD/Bio-Chado-Schema
[submodule "cxgn/tassel-5-standalone"]
	path = cxgn/tassel-5-standalone
	url = https://bitbucket.com/tasseladmin/tassel-5-standalone
[submodule "cxgn/QuantGenResources"]
	path = cxgn/QuantGenResources
	url = https://github.com/solgenomics/QuantGenResources.git
