sgn_local.conf
repos
sgn
cxgn-corelibs
local-lib
R_libs
Phenome
rPackages
biosource
Cview
ITAG
tomato_genome
Chado
sgn-devtools
starmachine
cassava
sweetpotatobase
ricebase
citrusgreening
coconut
cassbase
musabase
potatobase
cea
cippotatobase
fernbase
solgenomics
panzeabase
varitome
milkweed
erysimum
vitisbase
panandbase
triticum

!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs
*.pyc

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
