version: "3.3"

services:
  breedbase:
    image: breedbase/breedbase:v0.10
    depends_on:
      - breedbase_db
    container_name: breedbase_web
    ports:
      - 7080:8080
      - 25:25
    environment:
      - MODE=DEVELOPMENT
      - PGPASSFILE=/home/production/.pgpass
    volumes:
      - type: bind
        source: ${HOME}/work_scripts/sgn_local_docker.conf
        target: /home/production/cxgn/sgn/sgn_local.conf
      - type: bind
        source: ${HOME}/cxgn/sgn
        target: /home/production/cxgn/sgn
      - type: bind
        source: ${HOME}/cxgn/DroneImageScripts
        target: /home/production/cxgn/DroneImageScripts
      - type: bind
        source: ${HOME}/cxgn/imagesol
        target: /home/production/cxgn/imagesol
      - type: bind
        source: ${HOME}/archive
        target: /home/production/archive
      - type: bind
        source: ${HOME}/tmp
        target: /home/production/tmp
      - type: bind
        source: ${HOME}/cache
        target: /home/production/cache
      - type: bind
        source: ${HOME}/cluster
        target: /home/production/cluster
      - type: bind
        source: ${HOME}/blast
        target: /home/production/blast
      - type: bind
        source: ${HOME}/images
        target: /home/production/public/images
  breedbase_db:
    image: breedbase/pg:latest
    container_name: breedbase_db
#    ports:
#      - 5431:5432
    volumes:
      - type: bind
        source: ${HOME}/pgdata
        target: /var/lib/postgresql/data
