services:
  breedbase:
    volumes:
      - webdata:/home/production/volume
    ports:
      - 8081:8080
    image: breedbase/breedbase:v0.42
    depends_on:
      - breedbase_db
    container_name: breedbase_web

  breedbase_db:
    volumes:
      - dbdata:/var/lib/postgresql/data
    image: postgres:12.7
    container_name: breedbase_db
    healthcheck:
      test: "pg_isready -U postgres -d $${POSTGRES_DB} || exit 1"
      interval: 10s

volumes:
  webdata:
  dbdata:

